.all{
    background-color: #2c3e50;
    padding: 1px;
}

.button{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 12px;
}

.link{
    text-align: center;
    margin: 10px;
    padding: 40px;
    margin-bottom: 50px;
}
.button a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.button a:hover{
    color: aqua;
    cursor: pointer;
    text-decoration: none;

}

.h1-1{
    color: #e9ebed;
    text-align: center;
}

.down{
    background-color: #3498db;
    border-radius: 6px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 50px;
    color: white;
    text-decoration: none;
}

.top{
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
    border: solid 2px white;
    border-radius: 6px;
    padding: 20px;
    margin: 10px;
    transform: rotateY('-12deg');
}

.top:hover{
    color: aqua;
    cursor: pointer;
    background-color: white;
}

.body{
    margin-left: 150px;
    color: #3498db;
}

.leg{
    background-color: #f8f9fa;
    text-align: center;
    padding: 40px;
}

.hand{
    background-color: white;
}

.hand a{
    background-color: #f8f9fa;
}

.hand a:hover{
    background-color: #f8f9fa;
    cursor: pointer;
}

.text{
    background-color: white;
    text-align: center;
}

.foot{
     margin-left: 500px;
     width: 1400px;
    
}

.knee{
    background-color: #2c3e50;
    color: white;
}

.last{
    text-align: center;
    background-color: #f8f9fa;
}

.end{
    background-color: #3498db;
    color: white;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    
}